<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <title>WebDemos - GOTV System</title>
</head>
<body>
  <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">WebDemos</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- SERVER SELECT FORM -->
      <div class="container-fluid">
        <div class="form-group align-left ml-2 w-25">
          <label for="exampleSelect1" class="form-label mt-4 text-white">Server Selection</label>
          <select class="form-select" id="exampleSelect1">
            <option value="" selected disabled>Select a Server</option>
            <option>Retakes #1 [LA]</option>
            <option>Retakes #2 [CHI]</option>
            <option>Retakes #3 [LA]</option>
          </select>
        </div>
      </div>

      <!-- DEMO LIST -->
      <div class="container-fluid">
        <br>
      <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">Server Name</th>
            <th scope="col">Demo ID</th>
            <th scope="col">Time</th>
            <th scope="col">Download</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <th scope="row">Retakes #1 [LA]</th>
            <td>1624611142939-auto-20210513-195612-de_mirage.dem</td>
            <td>3 minutes ago</td>
            <td><a href="/demos/1/1624611142939-auto-20210513-195612-de_mirage.dem">Download</a></td>
          </tr>
          </tbody>
          </table>
    </div>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>